In [219]:
import pandas as pd
import quandl
import math
import numpy as np
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [220]:
quandl.ApiConfig.api_key = 'Your API Key'
df=quandl.get('WIKI/GOOGL')

In [221]:
df

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,1092.57,1108.70,1087.21,1094.000,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0
2018-03-22,1080.01,1083.92,1049.64,1053.150,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0
2018-03-23,1051.37,1066.78,1024.87,1026.550,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0
2018-03-26,1050.60,1059.27,1010.58,1054.090,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0
2018-03-27,1063.90,1064.54,997.62,1006.940,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0

In [222]:
print(df.head())

              Open    High     Low    Close      Volume  Ex-Dividend  \
Date
2004-08-19  100.01  104.06   95.96  100.335  44659000.0          0.0
2004-08-20  101.01  109.08  100.50  108.310  22834300.0          0.0
2004-08-23  110.76  113.48  109.05  109.400  18256100.0          0.0
2004-08-24  111.24  111.60  103.57  104.870  15247300.0          0.0
2004-08-25  104.76  108.00  103.88  106.000   9188600.0          0.0

            Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date
2004-08-19          1.0  50.159839  52.191109  48.128568   50.322842
2004-08-20          1.0  50.661387  54.708881  50.405597   54.322689
2004-08-23          1.0  55.551482  56.915693  54.693835   54.869377
2004-08-24          1.0  55.792225  55.972783  51.945350   52.597363
2004-08-25          1.0  52.542193  54.167209  52.100830   53.164113

            Adj. Volume
Date
2004-08-19   44659000.0
2004-08-20   22834300.0
2004-08-23   18256100.0
2004-08-24   15247300.0
2004-08-25    9188600.0

In [223]:
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]

In [224]:
df

              Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
Date
2004-08-19    50.159839    52.191109    48.128568    50.322842   44659000.0
2004-08-20    50.661387    54.708881    50.405597    54.322689   22834300.0
2004-08-23    55.551482    56.915693    54.693835    54.869377   18256100.0
2004-08-24    55.792225    55.972783    51.945350    52.597363   15247300.0
2004-08-25    52.542193    54.167209    52.100830    53.164113    9188600.0
...                 ...          ...          ...          ...          ...
2018-03-21  1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
2018-03-22  1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
2018-03-23  1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
2018-03-26  1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2018-03-27  1063.900000  1064.540000   997.620000  1006.940000    2940957.0

[3424 rows x 5 columns]

In [225]:
df['HL_PCT']=(df['Adj. High']-df['Adj. Close'])/(df['Adj. Close'])*100

/home/abhishek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [226]:
df['PCT_CHNG']=(df['Adj. Close']-df['Adj. Open'])/(df['Adj. Open'])*100

/home/abhishek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [227]:
df=df[['Adj. Close','HL_PCT','PCT_CHNG','Adj. Volume']]

In [228]:
df

             Adj. Close    HL_PCT  PCT_CHNG  Adj. Volume
Date
2004-08-19    50.322842  3.712563  0.324968   44659000.0
2004-08-20    54.322689  0.710922  7.227007   22834300.0
2004-08-23    54.869377  3.729433 -1.227880   18256100.0
2004-08-24    52.597363  6.417469 -5.726357   15247300.0
2004-08-25    53.164113  1.886792  1.183658    9188600.0
...                 ...       ...       ...          ...
2018-03-21  1094.000000  1.343693  0.130884    1990515.0
2018-03-22  1053.150000  2.921711 -2.487014    3418154.0
2018-03-23  1026.550000  3.918952 -2.360729    2413517.0
2018-03-26  1054.090000  0.491419  0.332191    3272409.0
2018-03-27  1006.940000  5.720301 -5.353887    2940957.0

[3424 rows x 4 columns]

In [229]:
print(df.head())

            Adj. Close    HL_PCT  PCT_CHNG  Adj. Volume
Date
2004-08-19   50.322842  3.712563  0.324968   44659000.0
2004-08-20   54.322689  0.710922  7.227007   22834300.0
2004-08-23   54.869377  3.729433 -1.227880   18256100.0
2004-08-24   52.597363  6.417469 -5.726357   15247300.0
2004-08-25   53.164113  1.886792  1.183658    9188600.0

In [242]:
forcast_col='Adj. Close'

In [243]:
df.fillna(-99999,inplace=True)

/home/abhishek/.local/lib/python3.6/site-packages/pandas/core/frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [244]:
forcast_out=int(math.ceil(0.01*len(df)))

In [233]:
df['label']=df[forcast_col].shift(-forcast_out)

/home/abhishek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [234]:
df.dropna(inplace=True)

/home/abhishek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [235]:
print(df.head())

            Adj. Close    HL_PCT  PCT_CHNG  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563  0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922  7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433 -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469 -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792  1.183658    9188600.0  71.219849

In [236]:
x=np.array(df.drop(['label'],1))
y=np.array(df['label'])
x=preprocessing.scale(x)
y=np.array(df['label'])

In [237]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [238]:
clf=LinearRegression()
clf.fit(x_train,y_train)
accuracy=clf.score(x_test,y_test)

In [239]:
print(accuracy)

0.9767658647257299

In [240]:
clf=svm.SVR()
clf.fit(x_train,y_train)
accuracy=clf.score(x_test,y_test)

/home/abhishek/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [241]:
print(accuracy)

0.7952593281853271